.blackContent {
	position: relative;
	height: 100vh;
	min-height: 100vh;
	min-width: 820px;
	background-color: #1c3b67;
	.middle {
		position: absolute;
		top: 25%;
		left: 0%;
		right: 0%;
		bottom: 25%;
		width: 50vw;
		min-width: 820px;
		height: 400px;
		margin: auto;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.15) 15px 15px 20px 20px;
	}
}
